.button {
    border-radius: 20px;
    background-color: #87A6F5;
    color: var(--color-button);
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    max-width: 7rem;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
}

.buttonCancel {
    border-radius: 20px;
    background-color: #C0392B;
    color: #F9EBEA;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    max-width: 7rem;
    border-style: none;
    text-decoration: none;
    cursor: pointer;
}

.buttonCancel:hover {
    background-color: #A93226;
    color: #F9EBEA;
}