.button {
    border-radius: 20px;
    background-color: #87A6F5;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    max-width: 7rem;
    border-style: none;
    cursor: pointer;
}